* {
    margin:none;
    padding: none;
}
:root{
    --primary-color:#f26522;

}
header nav .logo {
    border-right:1px solid var(--primary-color);
    width: 110px;
    height: 30px;
    margin-top: 10px;
    /* margin-left: 100px; */
}
nav .first-link p a{
    color:#525252;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
    font-family: arial;

}
nav .second-link p a{
    color:#525252;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
    font-family: arial;

}
.body{
    scroll-behavior: smooth;

}
.first-link{
    display: flex;
    gap:8%;
    /* margin-left: 100px; */
}
.second-link{
    display: flex;
    gap:5%;
    margin-left: 400px;
    

}
.input{
    display: flex;
    gap:5%;
    margin-top: 10px;
    /* margin-left: 20px; */
}
.hand-holding{
    margin: 40px;
    margin-left:100px; 
    
}

nav{display: flex;
justify-content: space-around;
height: 40px;
margin: 20px;
}
.space{
    display: flex;
    
    
}
input[type=text] {
    padding: 5px;
    height: 20px;
    border:1px solid var(--primary-color);
    width: 250px
}
.input button{
width:130px;
height: 30px;
border-radius:20px;
color: var(--primary-color);
font-size: 15px;
transition: 400ms ease-in-out;
background-color: white;
font-family: arial;
font-weight: bolder;
border: 1px solid var(--primary-color)
}
.input button:hover{
    color: white;
    background-color: #f7931e;

}
.input .start{
    color: white;
    background-color: #f7931e;
    border: none;

}
.flag{
    margin-top: 10px;
}
.over{
    color: var(--primary-color);
    font-size:2rem;
    font-family: arial;
    width: 35rem;

}
.element{display: flex;
}
.send-img{
    margin-top: 40px;
}
.send-text{
    margin-left: 30px;
    display: block;
}
.text-money{
font-size: 20px;
font-family: arial;
color:var(--primary-color)
}
.text-instant{
    color:gray;
    font-size: 15px;
    font-family: arial;
}
.read{
    color: #f7931e;

}
.grid{
    display: grid;
    grid-template-rows:  200px 200px 200px;
    grid-template-columns:30em 20em ;
    column-gap: -20rem;
}
.whole{
    display: flex;
    flex-direction: row;
    gap:19%;
    width: 400px;
    
}
.all{
    width: 50%;

    }
    .inside{
        display: flex;
        gap:1%;
    }
    summary{
        margin-top: 20px;
      display: none;
        height: 50px;


    }
    summary a{
        color: #f26522;
        text-decoration: none;
        /* display: none; */
    } 
    .mobile-button{
        display: none;
    }
    .insid{
        display: none;
    }

    
@media (max-width:700px) {
    .body{
        width: 100%;
        

    }
    .grid{
        grid-template-columns: 120vh;
        grid-template-rows: 60vh 60vh 60vh 60vh 60vh 60vh;

    }
    .whole{
 
        flex-direction: column;
    }
    .over{
     text-align:justify;
        /* margin-left: 8em; */
        font-size: 1.5rem;
        line-break: none;
        line-height-step: none ;
        width: 30rem;
     }
     .hand-holding{
        justify-content: center;
        margin: 20px;
        width: 20em;
     }
     .first-link{
        flex-direction: column;
        gap:2%;
     }
     .second-link{
        flex-direction: column;
        gap:2%;
     }
     .space{

     }
     .input{
        flex-direction: column;
     }
     summary {
        display: block;
        margin-top: 20px;
        color: #f26522;
        text-decoration: none;
        
     }
     .inside{
        display: none;
     }
     .insid{
        width: 20em;
        
        display: block;
        background-color: rgba(245, 245, 245, 0.586);
        height: auto;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px lightgray;
        transition: 450ms ease;
        transform: translateX(-380px);
        position: absolute;

     }
     summary:hover{
        
     }
     .spac{
display: block;
     }
     .mobile-link{
        color:#525252;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
    font-family: arial;

        
     }
     .mobile-log{
        display: flex;
        gap: 8%;
        margin-left: 80px;
     }
     .mobile-button{

     width:130px;
height: 30px;
border-radius:20px;
color: var(--primary-color);
font-size: 15px;
transition: 400ms ease-in-out;
background-color: white;
font-family: arial;
font-weight: bolder;
border: 1px solid var(--primary-color);
margin-top: 15px;
display: block;
}
.mobile-button:hover{
    color: white;
    background-color: #f7931e;
}
header nav .logo {
    border: none;
}
}
.summary{
    margin-left: 20px;
}
